<table bgcolor="#ffffff" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td>

    <table width="100%" aling="center" border="0"
    cellpadding="0"
    cellspacing="0"
    style="padding: 10px 18px
    5px 0;">
      <tr>
        <td valign="top" bgcolor="#ffffff"
        style="padding:0 10px
        10px 10px;
        color:#adadad;
        font-size:16px;
        font-family: Arial,
        Verdana, Sans-serif;
        color:#000;">Click on
        the link below to
        reset your
        password:</td>
      </tr>


      <tr>
        <td
        valign="top"
        bgcolor="#ffffff"
        style="padding:5px
        10px 5px 10px;
        font-family: Arial,
        Verdana, Sans-serif;
        font-size:13px;"><a
        style="color:#3abca4;
        text-decoration:
        none;"
        href="https://peppermint.com/reset?jwt=<%= jwt %>"
        target="_blank">peppermint.com/reset</a></td>
      </tr>
    </table>
    </td>
  </tr>      
</table>
