<h1 align="left" style="font-family:'open-sans', sans-serif; font-size:22px;
color:#3abca4; padding:15px 0 15px 15px; font-weight: normal"><img align="left"
                                                                   style="max-width:45px;
                                                                   padding-right:20px;
                                                                   ;"
                                                                   src="http://dev.peppermint.com/img/home_desktop_03_03.png">Action
                                                                   Required:
                                                                   Confirm
                                                                   your<br>
                                                                   Peppermint
                                                                   Account</h1>
 <hr/>
 <p style="margin-bottom:0; padding:15px 0 0 15px; font-family:'open-sans',
 sans-serif; font-size:15px; ">Hi {{name}},</p>

 <p style="padding:5px 0 15px 15px; font-family:'open-sans', sans-serif;
 font-size:15px; line-height:24px;">You recently registered for Peppermint. To
 get started please<br> click the button below to complete your
 registration.</p>

 <a style="color:#fff; margin-left:15px; padding:10px 25px;
 font-family:'open-sans', sans-serif; font-size:15px; text-decoration:none;
 background-color:#3abca4; border-radius:5px;"
    href="https://peppermint.com/verify-email?at={{token}}">Confirm Your
    Account</a>


 <p style="margin-bottom:0; color:#8BADA7; padding:40px 0 15px 15px;
 font-family:'open-sans', sans-serif; font-size:16px;
 line-height:24px;">Peppermint helps you to send audio messages via email.
 Why?<br> Because typing an email takes too looooong</p>

 <hr/>
 <p style="margin-bottom:0; color:#8BADA7; padding:0 0 0 15px;
 font-family:'open-sans', sans-serif; font-size:13px; line-height:20px;">This is
 a one time confirmation message. If you did not create a Peppermint account
 please <a style="color:#3abca4; text-decoration:none;"
           href="https://peppermint.com/support">let us know</a>.</p>
 <p style="margin-top:0; color:#8BADA7; padding:0 0 0 15px;
 font-family:'open-sans', sans-serif; font-size:13px;
 line-height:20px;">Peppermint Inc, 800E Charleston Blvd Las Vegas 89104</p>
